/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * template implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * heartsla.css
 *
 * template stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (heartsla_heartsla.tpl), and to HTML elements you create dynamically
    (in template.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/
/** Table layout **/

#playertables {
    float: left;
    height: 170px;
    margin-left: 30px;
}

.playertablename {
    font-weight: bold;
}

.playertable {
    text-align: center;
    width: 180px;
    height: 130px;
    float: left;
    margin-right: 60px;
}

#trumpSelector {
    height: 130px;
    float: left;
    display: block;
}

#trumpSelector > div {
    display: flex;
    align-items: center
}


#trumpSelector > div > div {
    height: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#rankSelector {
    display: none;
}

#suitSelector {
    display: none;
}

#trump_rank {
    margin: 1em;
    height: 1em;
    width: 1em;
}

#trump_suit {
    margin: 1em;
    height: 1em;
    width: 1em;
}

#infobox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 170px;
}

#gameinfo {
    display: inline;
    vertical-align: middle;
}


.playertablecard {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 72px;
    height: 96px;
}

.straw {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 72px;
    height: 96px;
    padding-left: 5px;
    padding-right: 5px;
}

.strawcard {
    cursor: pointer;
    position: absolute;
    width: 72px;
    height: 96px;
    background-image: url('img/cards.jpg');
    z-index: 1;
}

.straw_more {
    background-color: rgb(66, 123, 245);
    width: 72px;
    height: 96px;
    position: absolute;
    top: -5px;
    left: 0px;
}

.cardontable {
    position: absolute;
    width: 72px;
    height: 96px;
    background-image: url('img/cards.jpg');
    z-index: 2;
}

#trumpSelector ul {
    list-style-type: none;
    overflow: hidden;
}

#trumpSelector li {
    float: left;
    padding: 1em;
    outline: 1px solid black;
    outline-offset: -2px;
    margin: 1em;
    height: 1em;
    width: 1em;
    text-align: center;
}
